<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="EMoreUnit Target Platform - Eclipse 4.2" sequenceNumber="71">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.8.1.v20120814-104540-8-8nFqpFNOfwKDRVz-tXOcL5d_83"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.moreunit.feature.group" version="3.0.0.02"/>
<unit id="org.moreunit.light.feature.group" version="3.0.0.02"/>
<repository location="http://moreunit.sourceforge.net/update-site/"/>
</location>
</locations>
<environment>
<nl>en</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Xmx512m -XX:MaxPermSize=128m</vmArgs>
</launcherArgs>
</target>
